RewriteEngine On
##############################
# RegEx


##############################
# GET
##############################
# Display the form to create an item
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^items/create$ views/items-create.php

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^items$ show-items.php [NC,L]

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^items/update/(\d+)$ views/items-update.php?id=$1 [NC,L]

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^items/delete/(\d+)$ api/items-delete.php?id=$1 [NC,L]

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^items/([a-zA-Z]+)/([a-zA-Z]+)$ views/items-display.php?category=$1&gender=$2 [NC,L]

##############################
# POST
##############################
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^items/create$ api/items-create.php [NC,L]

RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^items/update/(\d+)$ api/items-update.php?itemId=$1 [NC,L]


ErrorDocument 404 /Mar-08/teste/404.php